# node.js
#
node_modules/
npm-debug.log
yarn-error.log

#Platformio
#
.pioenvs
.clang_complete
.gcc-flags.json
.pio
data/

#VSCode
#
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json